.chat-button {
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    align-items: center;
}

.chat-avatar {
    display: flex;
    align-items: center;
}

.chat-avatar p {
    font-size: 20px;
}

.chat-toggle-btn {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    justify-content: space-between;
}

.icon {
    margin-right: 8px;
    font-size: 30px;
}

.arrow-icon {
    transition: transform 0.3s;
    font-size: 20px;
}

.chat-content {
    position: absolute;
    bottom: 70px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    min-width: 300px;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
}

.message-user {
    padding: 2px;
    display: flex;
    align-items: center;
    width: 100%;
}

.message-user :hover {
    cursor: pointer;
}

.message-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.active-chat-info {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
}

.active-chat-header:hover {
    cursor: pointer;
}

.active-chat-header {
    display: flex;
    justify-content: space-between;
    background-color: #4285f4;
    align-items: center;
}

.active-chat-arrow-icon {
    margin-right: 15px;
    color: #fff;
    font-size: 20px;
}

.active-chat-info img {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.actice-chat-content {
    position: absolute;
    bottom: 0;
    right: 400px;
    height: 445px;
    width: 400px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: gray;
}

.active-chat-details img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}