.landing-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.center-box {
    position: relative;
    max-width: 650px;
    width: 40vw;
    height: 60vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}

.list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    height: 200px;
    background-color: #D8D9DA;
    color: #61677A;
}

.scrollable-list {
    max-height: 100%;
    overflow-x: auto;
    padding: 0 30px 0 30px;
    width: 90%;
    scrollbar-width: auto;
    scrollbar-color: #ccc #f0f0f0;

}

.user-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.user-item :hover {
    cursor: pointer;
}

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item h4 {
    margin: 0 0 0 10px;
}